<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VueJS</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="shortcut icon" href="vue.svg" type="image/x-icon">
</head>
<body>
    <div id="app">
        <div class="h-screen w-screen flex">
            
            <div class="relative m-auto px-6 pb-6 border-[1px] shadow-md rounded-xl w-[400px]">
                <div class="absolute top-4 hover:cursor-pointer hover:text-red-600 right-4" v-on:click="exit">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi w-5 bi-x-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                      </svg>
                </div>
                <div class="flex flex-row mt-6 pb-6">
                    <img src="./vue.svg" class="block w-12" alt="">
                    <div class="ml-4">
                        <h2 class="font-bold text-lg">Тестовый frontend</h2>
                        <p class="text-sm text-gray-600">Front на VueJS получает случайное число и выводит на экран.</p>
                    </div>
                </div>
                <div class="flex flex-row justify-between mt-3">
                    <div class="my-auto flex flex-row">
                        <p class="text-gray-600 text-sm">Случайное число: <span class="border-[1px] text-center rounded border-gray-300 inline-block w-8 font-semibold text-black">{{ message }}</span></p>
                    </div>
                    <button class="block font-semibold py-2 px-4 border-[1px] rounded-xl text-white bg-sky-500
                    hover:bg-sky-600 focus:bg-sky-500" v-on:click="get_random_int">Случайное число</button>
                </div>
            </div>  
        </div>
    </div>
    
    <script>
        var app = new Vue({
        el: '#app',
        data: {
            message: 'Привет, Vue!'
        },
        mounted() {
            this.get_random_int ();
        },
        methods: {
            get_random_int: function () {
                axios
                    .get('http://127.0.0.1:8000/')
                    .then(response => (this.message = response.data.random_int))
                    .catch(error => console.log(error));
                
            },
            exit: function () {
                close();
            }
        }
        })
    </script>
</body>
</html>
